<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <root>
    <level value="ALL"/>
    <appender-ref ref="GameServerFileAppender"/>
  </root>

  <logger name="Report">
    <level value="ALL" />
    <appender-ref ref="ReportFileAppender" />
  </logger>

  <appender name="GameServerFileAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="%property{Photon:ApplicationLogPath}\\UberStrok.Realtime.Server.Game.log" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] %d{hh:mm:ss} %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ReportFileAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="%property{Photon:ApplicationLogPath}\\reports.log" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] %d{hh:mm:ss} - %message%newline" />
    </layout>
  </appender>
</log4net>