# Logging files
*.log

# Visual Studio
.vs/

# Logging files.
*.log

# NuGet
packages/

# Build files
bin/
obj/

# Libraries
lib/uberstrike/*.dll

# Photon SDK
photon/

# VIM
*.swp
