# Logging files
*.log
# Packages
*.zip

# Visual Studio
.vs/
TestResults/

# Logging files.
*.log

# Cleaner tool.
bfg.jar

# NuGet
packages/

# Build files
bin/
obj/

# Libraries
libs/uberstrike/*.dll

# Photon SDK
photon/

# VIM
*.swp

# LiteDB store
*.db
