<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>

  <!-- Project UbzStuff configurations. -->
  <UbzStuff>

    <!-- Runtime configuration -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <Applications Default="UbzStuff.Realtime.Server.Comm">

      <!-- CommServer that is going to handle chat messages (lobby) and etc. -->
      <Application
        Name="UbzStuff.Realtime.Server.Comm"
        BaseDirectory="UbzStuff.Realtime.Server.Comm"
        Assembly="UbzStuff.Realtime.Server.Comm"
        Type="UbzStuff.Realtime.Server.Comm.CommApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>

    </Applications>

    <UDPListeners>

      <!-- CommServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="UbzStuff.Realtime.Server.Comm">
      </UDPListener>
      
    </UDPListeners>
  </UbzStuff>

</Configuration>
