<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>

  <!-- Project UbzStuff configurations. -->
  <UberStrok>

    <!-- Runtime configuration -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <Applications Default="UberStrok.Realtime.Server.Comm">

      <!-- CommServer that is going to handle chat messages (lobby) and etc. -->
      <Application
        Name="UberStrok.Realtime.Server.Comm"
        BaseDirectory="UberStrok.Realtime.Server.Comm"
        Assembly="UberStrok.Realtime.Server.Comm"
        Type="UberStrok.Realtime.Server.Comm.CommApplication"
        ForceAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>

    </Applications>

    <UDPListeners>

      <!-- CommServer UDP listener configuration. -->
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="UberStrok.Realtime.Server.Comm">
      </UDPListener>

    </UDPListeners>
  </UberStrok>

</Configuration>
