<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <root>
    <level value="ALL"/>
    <appender-ref ref="CommServerFileAppender"/>
  </root>

  <appender name="CommServerFileAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="%property{Photon:ApplicationLogPath}\\UberStrok.Realtime.Server.Comm.log" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] %d{hh:mm:ss} %logger - %message%newline" />
    </layout>
  </appender>
</log4net>